/*h1 {
    font-size: 2.0em;
    margin: 20px 0 0 0;
    font-weight: 400;   
}*/
p { 
   color:black;
   font-size: 40px;
}
h3 { 
   color:gray;
}
table {
    border-collapse: collapse;
}
table, th, td {
    /*border: 2px solid black;*/
    font-size:15px;
    height:30px;
    
}
input {
    /*kerning:1000px;*/
    width: 225px;
    margin: 10px 0;
    background-color: #dfdfdf;
    font-size:17px;
}
/*button {
    background-color: #008CBA;
    color: white;
    width:100px;
}*/
.error{
    color: gray;
    font-size: 20px;
}
.success{
    color:gray;
    font-size: 20px;
} 
 .modal{
      /*text-align:center;*/
       /*vertical-align: middle;*/
        width:80%;
        margin-left:10%;
          margin-right:10%;
        margin-top:5%; 
        margin-bottom:5%; 
    }
    .modal-body{
         padding: 20px;
    }
     .input,
    .form-control {
        width: 100%;
        background: lightgray
    }